extends layouts/main

block content
     .form-container
         form(action=routes.changePassword method="post")
            input(type="password", placeholder="Current Password", name="currentPwd")
            input(type="password", placeholder="New Password", name="newPwd")
            input(type="password", placeholder="Verify New Password", name="newPwd2")
            input(type="submit", value="Change Password")



